.blog {
  max-width: 1698px;
  background-image: linear-gradient(
      rgba(247, 243, 231, 0.91),
      rgba(247, 243, 231, 0.91)
    ),url(/img/blog-pictures/blog_background.png);
    background-size: contain;
    
 
  transition: opacity .3s ease-out;
  font-family: "Nunito", sans-serif;

  padding: 85px 0 95px 0;
  }
.blog__carousel {
    padding-top: 55px;
    margin: auto;
    display: flex;
    overflow-x: hidden;
    padding-bottom: 20px;
    position: relative;
    width: 1000px;
  }
  .blog__carousel_item {
    min-width: 270px;
    margin: 0 20px 0 0;
    padding: 20px;
    border-radius: 20px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    background: var(--text-hover-color);
    -webkit-box-shadow: 0 6px 12px 0 rgb(146 156 179 / 15%);
    box-shadow: 0 6px 12px 0 rgb(146 156 179 / 15%);
  }
  .blog__carousel_item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: cover;
    height: 148.2px;
    object-position: 50% 17.458%;
  }
  .slide__text {
    margin-top: 30px;
  }
 .slide__read-more{
    padding-top: 30px;
    margin-top: auto;
 }

 @media (min-width:680px) {
  .blog__carousel {
    width: 575px;
    padding-top: 70px;
  }
}
@media (min-width:992px) {
  .blog {
    padding: 85px 0 100px 0;
  }
  .blog__carousel {
    width: 865px;
  }
}
@media (min-width:1440px) {
  .blog__carousel {
    width: 1156px;
  }
}