@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");

:root{
  --title-button-text-color: #553c29;
  --button-hover-line-color: #f8aa03;
  --details-link-border: #f9be4f;
  --link-hover-color: #f9575c;
  --default-paragraph-text: #686464;
  --text-hover-color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease-in, background-color 0.2s ease-in,
    border-color 0.2s ease-in, box-shadow 0.2s ease-in,
    -webkit-box-shadow 0.2s ease-in;
}
section {
  padding: 85px 0 100px 0;
}
/*Main text of each section*/
section h2 {
  text-align: center;
  word-wrap: break-word;
  color: var(--title-button-text-color);
  text-transform: none;
  letter-spacing: 0;
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
  padding-bottom: 31.5px;
}
/*Line under H2 of each section*/
.horizontal-line {
  width: 90px;
  height: 4px;
  border-radius: 3px;
  background-color: var(--button-hover-line-color);
  margin: auto;
}
/*Default paragraph text*/
.paragraph_default_text {
  
  color: var(--default-paragraph-text);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0;
  text-transform: none;
}
/*Block end links (Learn more etc.)*/
.details_link {
  font-size: 15px;
  text-decoration: none;
  color: var(--details-link-border);
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
/*Dog names or breeds types of dogs*/
.dogs-names-breeds-text{
color: var(--title-button-text-color);
font-family: "Nunito", sans-serif;
font-size: 22px;
}
.details_link:hover{
  color: var(--link-hover-color);
  text-decoration: underline;
} 
/*Main button in each block*/
.main-btn {
  display: block;
  margin: auto;
  width: fit-content;
  font-size: 15px;
  line-height: 1em;
  letter-spacing: 0;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--title-button-text-color);
  text-align: center;
  border: 2px solid var(--details-link-border);
  padding: 12px 28px;
  border-radius: 22px;
}
.main-btn-frame{
    margin: 50px;
}
.main-btn:hover{
  cursor: pointer;
  background-color: var(--button-hover-line-color);
  color: var(--text-hover-color);
}