section{
display: grid;
grid-template-columns:1fr 1fr; 
}

.contacts_container{
border: 1px solid black
}

.form_container{
border: 1px solid black;
align-items:center;
}

.form_text{
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    width: min-content;
}

.contacts_title{
    display:block; 
    padding: 20px;
    margin::40px;
    position: relative;
    max-width: 100%;
    word-wrap: break-word;
}

.title_address{
    color:var(--title-button-text-color);
    font: inherit;
    vertical-align: baseline;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 0;
}
