.section_contacts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contacts_container, .form_container {
    margin: 30px;
}


.contacts_title{
    display: block; 
    padding: 20px;
    margin:40px;
    position: relative;
    max-width: 100%;
    word-wrap: break-word;
}

.title_address{
    color:var(--title-button-text-color);
    font: inherit;
    vertical-align: baseline;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 0;
    margin-right:30px;
}
.hours{
    margin-right: 55px;
}
.inside_title_adress_text {
    color: var(--secondary-paragraph-text);
    font-family: sans-serif;
    font-size: inherit;
    text-align: left;
}
.text_form{
color: var( --section-background);
}
.contacts_input_name, .contacts_input_number, .contacts_input_email, .contacts_input_message {
    display: block;
    background-color: var(--section-background);
    margin-top: 12px;
    width: 400px;
    appearance: none;
    border: 0;
    font-family: inherit;
    padding: 14px 28px;
    font-size: 15px;
    border-radius: 22px;
    line-height: 1.2;
    text-align: start;
}
.contacts_input_message {
    line-height: 1.2;
    text-align: left;
}
textarea {
height: 200px;
}
.contacts_input_button{
    border-style: solid;
    border-color: transparent;
    margin-top: 12px;
    width: 400px;
    text-overflow: ellipsis;
    border: 0;
    font-family: inherit;
    padding: 14px 28px;
    font-size: 15px;
    border-radius: 22px;
    line-height: 1.2;
    text-align: center;
    background-color:var(--link-hover-color);
    color: var(--text-hover-color);
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 50px;
}
.contacts_title, .contact_line{
    text-align: start;  
    margin-bottom: 2px;
    
}
.contact_line{
    margin-left: 60px;
    margin-top: 1px;
    width: 180px;
    margin-bottom: 40px;   
}
.google-map {
    position: relative;
    min-width: 320px;
    padding-top: 40px;
    padding-bottom: 90px;
    font-size: 16px;
    line-height: 1.5;
    font-family: Lato,sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    z-index: 1;
}
.slide_text{
    padding-top: 5px;
    padding-bottom: 50px;
    color: var(--default-paragraph-text);
    font-size: 20px;
    line-height: 1.4;
    font-family: Lato,sans-serif;
    font-weight: 400;
}