footer{
    background: #f7f3e7
}
.footer-navbar-logo{
    font-size: 24px; 
    color: var(--title-button-text-color);
    font-weight: bold;
}
.footer-slide__text{
padding-top: 30px;
max-width: 30%;
display: flex;
flex-direction: column;
text-align: left;
font-size: inherit;
vertical-align: baseline;
color: #ae7a57;
justify-content: start;
}
.footer-navbar-menu{
    display: block;
    display: grid;
    align-items: baseline;
    grid-row-gap:30px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 400px;
}