.footer{
    background: var(--section-background);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.dog_details{
    display: grid;
}
.footer-navbar-menu{
    display: block;
    display: grid;
    align-items: baseline;
    grid-row-gap:30px;
    grid-template-columns: 1fr 1fr 1fr;
   margin-left: auto;
}
    
.follow{
    display: grid;
}
.footer-navbar-logo{
    text-align: left;
    font-size: 24px; 
    color: var(--title-button-text-color);
    font-weight: bold;
}

.footer-slide__text{
padding-top: 30px;
max-width: 30%;
display: block;
font-size: inherit;
color: var(--foter-slide-text);
justify-content: start;
padding-bottom: 30px;
vertical-align: baseline;
}