footer{
    background: var(--section-background);
    padding-top: 85px;
}
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.dog_details {
    display: grid;
}
.footer-navbar-menu {
    display: block;
    display: grid;
    align-items: center;
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 25px;
}
    
.follow {
    display: grid;
    margin-top: 25px;
    margin-left: 50%;
}
.footer-navbar-logo {
    margin-left: 40px;
    margin-top: 25px;
    text-align: left;
    font-size: 24px; 
    color: var(--title-button-text-color);
    font-weight: bold;
}

.footer-menu__text {
    color: var(--default-paragraph-text);
    font-size: 20px;
    font-weight: bold;
}
.follow-title {
    color: var(--default-paragraph-text);
    font-size: 25px;
    font-weight: bold;
}
.footer-slide__text {
margin-left: 40px;   
padding-top: 30px;
max-width: 60%;
display: block;
font-size: inherit;
color: var(--foter-slide-text);
justify-content: start;
padding-bottom: 30px;
vertical-align: baseline;
font-weight: bold;
}
.paragraph-text-end{   
margin-left: 40px;
margin-right: 40px;
font-size: 11px;
color: var(--foter-slide-text);
display: flex;
justify-content: space-between;
font-weight: 400;
padding-top:90px;
}

.btn-footer {
justify-content: baseline; 
font-size: 30px;
color:var(--button-hover-line-color);
text-transform: uppercase;
font-family: "Poppins", sans-serif;
}
.footer-icons{
    display: flex;
   column-gap: 30px;
}