.our-services {
  position: relative;
  background-image: linear-gradient(rgba(247, 243, 231, 0.92),
      rgba(247, 243, 231, 0.92)),
    url(../img/services/background.webp);
  font-family: "Nunito", sans-serif;
  padding: 85px 0 95px 0;
}

.our-services__title {
  margin-top: 0;
}

.our-services__carousel {
  display: flex;
  align-items: stretch;
  padding: 55px 20px 20px 20px;
  margin: auto;
  padding-bottom: 20px;
  overflow-x: hidden;
  max-width: 650px;
}

.our-services .swiper-wrapper {
  height: auto;
}

.our-services__carousel__slide {
  width: 270px;
  padding: 20px;
  border-radius: 5px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  background: var(--text-hover-color);
  -webkit-box-shadow: 0 6px 12px 0 rgb(146 156 179 / 15%);
  box-shadow: 0 6px 12px 0 rgb(146 156 179 / 15%);
}

.our-services__carousel__slide:hover {
  cursor: pointer;
}

.our-services__carousel__slide img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 230px;
  object-position: 50% 17.458%;
}

.slide__text {
  margin-top: 30px;
}

.our-services .slide__h3 {
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: 0;
  color: var(--title-button-text-color);
  margin-top: 20px;
}

.slide__learn-more {
  padding-top: 26px;
  margin-top: auto;
}

.our-services__carousel .swiper-button-prev,
.our-services__carousel .swiper-button-next {
  color: var(--details-link-border);
  font-size: 40px;
}

.our-services__carousel span.swiper-button-prev:hover,
.our-services__carousel span.swiper-button-next:hover {
  color: var(--link-hover-color);
}

.our-services .swiper-pagination {
  height: 5px;
  margin-bottom: 15px;
  background-color: var(--text-hover-color);
}

.our-services__carousel .swiper-pagination-progressbar-fill {
  background-color: var(--link-hover-color);
}

.our-services .main-btn {
  margin-top: 50px;
}

.our-services__carousel__slide {
  transition: transform 0.5s ease-in;
}

@media (min-width: 680px) {
  .our-services__carousel {
    padding-top: 70px;
    max-width: 650px;
  }

  .our-services__carousel__slide {
    border-radius: 20px;
  }
}

@media (min-width: 992px) {
  .our-services {
    padding: 85px 0 100px 0;
  }

  .our-services__carousel {
    max-width: 1220px;
  }

  .our-services__carousel__slide img {
    height: 148.21px;
  }
}