.our-services {
  background: url(../img/services/background.png) 0% 60.13% / cover no-repeat;
  font-family: "Nunito", sans-serif;
  padding: 85px 0 95px 0;
}

.our-services__carousel {
  padding-top: 55px;
  margin: auto;
  display: flex;
  overflow-x: hidden;
  padding-bottom: 20px;
  position: relative;
  width: 283px;
}

.our-services__carousel_slide {
  min-width: 270px;
  margin: 0 20px 0 0;
  padding: 20px;
  border-radius: 20px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  background: var(--text-hover-color);
  -webkit-box-shadow: 0 6px 12px 0 rgb(146 156 179 / 15%);
  box-shadow: 0 6px 12px 0 rgb(146 156 179 / 15%);
}

.our-services__carousel_slide img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  object-fit: cover;
  height: 148.2px;
  object-position: 50% 17.458%;
}

.slide__text {
  margin-top: 30px;
}

.our-services .slide__h3 {
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: 0;
  color: var(--title-button-text-color);
  margin-top: 20px;
}

.slide__learn-more {
  padding-top: 26.25px;
  margin-top: auto;
}

.our-services__carousel::-webkit-scrollbar {
  display: none;
}

.our-services__carousel .prev,
.next {
  position: absolute;
  width: 40px;
  height: 40px;
}

.our-services__carousel .prev {
  top: 220px;
  left: -7px;
}

.our-services__carousel .next {
  top: 220px;
  right: 7px;
}

.our-services .main-btn {
  margin-top: 50px;
}

@media(min-width:680px) {
  .our-services__carousel {
    width: 575px;
    padding-top: 70px;
  }
}

@media(min-width:992px) {
  .our-services {
    padding: 85px 0 100px 0;
  }

  .our-services__carousel {
    width: 865px;
  }
}

@media(min-width:1440px) {
  .our-services__carousel {
    width: 1156px;
  }
}