/*Subscribe for new litters form*/

.puppies_subscribe_litters {
background: var(--button-hover-line-color);
}

.puppies_subscribe_litters {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 50px;
    margin-top: 50px;
   
}

.puppies_subscribe_litters-inner {
    display: flex;
  flex-direction: row;
    position: relative;
    min-width: 100px;
    padding-top: 90px;
    padding-bottom: 90px;
    font-size: 16px;
    line-height: 1.5;
    font-family: Lato,sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;
}

.puppies_side-text {
 color: var(--text-hover-color)!important; 
 padding-left: 15px;
 padding-right: 15px;  
 display: flex;
 flex-direction: row;
 flex-basis: 100%;
    max-width: 50%;
    
}
.puppies_litter-sub-title {
font-size: 38px!important;
line-height: 1!important;
letter-spacing: 0!important;
font-family: Nunito,sans-serif;
font-weight: 700;
text-transform: none;
text-decoration: none;
font-style: normal;
padding-bottom: 31.5px;
margin-top: 23.5px;
}

.puppies_sub-text {
font-size: 20px!important;
line-height: 1.4!important;
letter-spacing: 0!important;
}

.puppies__subscribe-form {
    display: flex;
    flex-direction: row;
}

/*Carousel with puppies*/

#puppies_carousel {
    width: 1155px;
    padding-top: 70px;
    margin: auto;
    display: flex;
    overflow-x: hidden;
    padding-bottom: 20px;
    position: relative;
}

.puppies_carousel-inner {
    display:flex;
    flex-direction: row;
}
