/*Subscribe for new litters form*/

.puppies_subscribe_litters {
background: var(--button-hover-line-color);
}

.puppies_subscribe_litters {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 50px;
    margin-top: 50px;
   
}

.puppies_subscribe_litters-inner {
    display: grid;
    grid-template-columns: auto 30%;
    position: relative;
    padding-top: 50px;
    padding-bottom: 90px;
    font-size: 16px;
    line-height: 1.5;
    font-family: Lato, sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    z-index: 1;
    max-width: 1200px;
    margin: 0;
}

.puppies_side-text {
 display: grid;
 justify-content: center;
 color: var(--text-hover-color); 
 padding-left: 24px;
 padding-right: 24px;  
 
width: auto;
    
}
.puppies_litter-sub-title {

line-height: 1;
letter-spacing: 0;
font-family: Nunito, sans-serif;
font-weight: 900;
font-size: 38px;
text-transform: none;
text-decoration: none;
font-style: normal;
padding-bottom: 50px;
margin-top: 23.5px;
}

.puppies_sub-text {
font-size: 20px;
font-family: Nunito, sans-serif;
font-weight: bold;
line-height: 1.4;
letter-spacing: 0;
}

.puppies__subscribe-form {
 display: grid;  
 grid-template-rows: 1fr 1fr;
 align-items: center;
 justify-content: center;
}
.puppies_subscribe-button {
display: block;
margin: auto;
width: auto;
font-size: 15px;
line-height: 1em;
letter-spacing: 0;
text-transform: uppercase;
font-family: "Poppins", sans-serif;
font-weight: 600;
color: var(--title-button-text-color);
text-align: center;
border: 2px solid var(--details-link-border);
padding: px 28px;
border-radius: 22px;
margin-bottom: 30px;
margin-top: 30px;
}

/*Carousel with puppies*/

#puppies_carousel {
    width: 1155px;
    padding-top: 70px;
    margin: auto;
    display: flex;
    overflow-x: hidden;
    padding-bottom: 20px;
    position: relative;
}

.puppies_carousel-inner {
    display:flex;
    flex-direction: row;
}
